.jumbotron {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search-form .btn {
    margin-left: 1%;
}

#add-appt {
    margin: 10px 0;
}

#appt-form, #add-btn, #cancel-btn {
    margin: 10px;
    display: none;
}